.homeContent{
  box-shadow: 2px 12px 10px 7px #f1f1f1;
  height: 391px;
}

.homeContent ul{
list-style: none;
text-align: justify
}

.content i{
  font-size: 16px;
  margin-right: 10px;
}
.read-more{
  float: right;
  padding: 9px 12px 8px 10px;
  background: #468202 !important;
}
.top-nav li{
  display: inline-block;
  margin-right: 0px;
  padding: 3px;
}

.top-nav{
  padding: 0px;
  margin: 0px;
}
.category{
  margin-top: 13px;
}

.ListStyle li{
  color:gray;
  margin-bottom: 10px;
  text-align: left;
}
.ListStyle li i{
  margin-right: 10px;
}
.img-fluid{
  margin-top: 14px;
  margin-bottom: 14px;
}
.team-player{
  padding: 11px;
}
@media only screen and (max-width: 768px) {
.top-nav{
  display: inline-flex;
  width: 100%;
}
}
